<canvas id="canvas" width="600" height="600"></canvas>

<div class="control">
  <button md-raised-button (click)="undo()">戻る</button>
  <button md-raised-button (click)="redo()">進む</button>
  <md-menu #menu="mdMenu">
      <button md-menu-item>
        <md-icon>dialpad</md-icon>
        <span>Redial</span>
      </button>
      <button md-menu-item disabled>
        <md-icon>voicemail</md-icon>
        <span>Check voicemail</span>
      </button>
      <button md-menu-item>
        <md-icon>notifications_off</md-icon>
        <span>Disable alerts</span>
      </button>
    </md-menu>
  <button md-raised-button (click)="deleteObject()" *ngIf="!drawingMode">削除</button>
  <a md-raised-button (click)="saveImage()" [href]="resultImage" download="">保存</a>
  <md-checkbox class="example-margin" [(ngModel)]="drawingMode">手書きモード</md-checkbox>
</div>

